<nav class="navbar">
    <div class="brand">
        <span class="app-title">Takket-Quieto</span>
    </div>
    <ul class="nav-links">
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
        <li><a routerLink="/players" routerLinkActive="active">Players</a></li>
        <li><a routerLink="/tournaments" routerLinkActive="active">Tournaments</a></li>
        <li><a routerLink="/reports/history" routerLinkActive="active">Historia</a></li>
        <li><a routerLink="/reports/leaderboard" routerLinkActive="active">Leaderboard</a></li>
    </ul>
</nav>